@charset "utf-8";

$font-family-awesome_jp: 'Noto Serif JP', serif;
$font-family-awesome_en: 'Noto Serif', serif;

$max-width: 1440px;

// インナー幅
$layout-width-inner: 1200px;

// フォント
$size-main: 1.6rem;

// ベース
$color-main: #282F35;
$color-accent: #F7D43F;

// 背景
$color-bg: #fff;
$color-shadow: #1B1310;

// テキスト
$color-text_bk: #171717;
$color-text_wh: #fff;
$color-title: #282F35;
$color-title_bg_bk: rgba(23, 23, 23, 0.05);
$color-title_bg_wh: rgba(255, 255, 255, 0.05);