@charset "utf-8";
@use "../../../global" as global;

/* contact
--------------------------------------- */
.contact {
    background: url(../img/contact-bgi@2x.jpg) no-repeat center top / cover;
    width: 100vw;
    text-align: center;
}

.contact__message {
    font: bold 2rem global.$font-family-awesome_jp;
    color: global.$color-text_wh;
}

.contact__btn {
    margin-top: 4rem;
}