@charset "utf-8";
@use "../../../global" as global;

/* service
------------------------------------- */
.service__wrapper {
    margin: 8rem auto 19.2rem;
}

.service__items {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    display: flex;

    @include global.mq() {
        display: block;
    }
}

.service__item {
    width: calc(100% / 3);
    height: 32rem;
    position: relative;

    &._1 {
        background: url(../img/service-img01@2x.jpg) no-repeat center center / cover;
    }

    &._2 {
        background: url(../img/service-img02@2x.jpg) no-repeat center center / cover;

    }

    &._3 {
        background: url(../img/sevice-img03@2x.jpg) no-repeat center center / cover;
    }

    a {
        &:hover {
            background: rgba(global.$color-main, 0.7);
        }
    }


    @include global.mq() {
        width: 100%;
        height: 25rem;

        &:not(:first-child) {
            margin-top: 3rem;
        }
    }
}

.service__title {
    font: italic bold 4rem global.$font-family-awesome_en;
    color: global.$color-text_wh;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include global.mq() {
        font-size: 2rem;
    }
}