@charset "UTF-8";
/* メディアクエリ
------------------------------------------- */
/* header-menu
----------------------------------------- */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  -webkit-transition: all ease 1s 0s;
  transition: all ease 1s 0s;
}
.header._active-bg {
  background: #282F35;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  .header__wrapper {
    padding: 3rem 0;
  }
}

.header__logo {
  color: #fff;
  font: italic bold 2.6rem "Noto Serif", serif;
  letter-spacing: 1.2px;
}

.header__nav {
  margin-left: auto;
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 3.2rem;
}
.nav__item a {
  color: #fff;
  font: italic bold 1.7rem "Noto Serif", serif;
  line-height: 2.5;
}
.nav__item a:hover {
  opacity: 0.5;
}

/* sp-menu
------------------------------------------ */
.sp-menu__btn {
  display: none;
  width: 3rem;
  height: 2rem;
  background: transparent;
  border: none;
  margin-left: auto;
  position: fixed;
  top: 3.7rem;
  right: 1.5rem;
  z-index: 16;
}
.sp-menu__btn span {
  display: inline-block;
  width: 100%;
  height: 0.3rem;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.sp-menu__btn span:nth-of-type(1) {
  top: 0;
}
.sp-menu__btn span:nth-of-type(2) {
  top: 1rem;
}
.sp-menu__btn span:nth-of-type(3) {
  top: 2rem;
}
@media (max-width: 768px) {
  .sp-menu__btn {
    display: block;
  }
}

._is-open span:nth-of-type(1) {
  top: 1rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 100%;
}
._is-open span:nth-of-type(2) {
  opacity: 0;
}
._is-open span:nth-of-type(3) {
  top: 1rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 100%;
}

.sp-menu__nav {
  display: none;
  background: #282F35;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  z-index: 15;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}
.sp-menu__nav._panel-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (max-width: 768px) {
  .sp-menu__nav {
    display: block;
  }
}

.nav__items_sp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__item_sp:not(:first-child) {
  margin-top: 2rem;
}
.nav__item_sp a {
  font: italic bold 1.6rem "Noto Serif", serif;
  color: #fff;
  letter-spacing: 0.5px;
}
/*# sourceMappingURL=header.css.map */